{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

<main class="content px-4 py-5">
    <div class="container-fluid">
        <div class="mb-3">
            <h4>Common Threat</h4>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Common Threat Content</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>

</script>

{% endblock content %}
