{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

<main class="content px-4 py-5">
    <div class="container-fluid">
        <div class="mb-3">
            <h4>Trainings</h4>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body p-0">
                        <div class="videos">
                            <div class="heading  bg-dark text-white p-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="">
                                        <h5 class="card-title">
                                            Videos
                                        </h5>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="content p-4">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <iframe width="100%" height="200vh" src="https://www.youtube.com/embed/JpfEBQn2CjM?si=jNU7X3teMN6vWcu5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
                                            <div class="card-body">
                                              <h5 class="card-title">Pause, think and act - - Cyber security awareness video - Security Quotient
                                            </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <iframe width="100%" height="200vh" src="https://www.youtube.com/embed/0Wd3JoUHXno?si=uyCxYj4Xwc-7wyE4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
                                            <div class="card-body">
                                              <h5 class="card-title">Security Awareness Episode 1: Passwords
                                            </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <iframe width="100%" height="200vh" src="https://www.youtube.com/embed/hsNRrEnB_aM?si=V2FOQSkAqsY6a3Aq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
                                            <div class="card-body">
                                              <h5 class="card-title">Security Awareness Episode 2: Data Handling

                                            </h5>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <iframe width="100%" height="200vh" src="https://www.youtube.com/embed/QiaIL-J9Vds?si=Pm8EdZG3fGrs1oFw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
                                            <div class="card-body">
                                              <h5 class="card-title">Security Awareness Episode 3: Computer Theft
                                            </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <iframe width="100%" height="200vh" src="https://www.youtube.com/embed/D_yAYhjNE-0?si=WSZJZtYiPTQLjRhT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
                                            <div class="card-body">
                                              <h5 class="card-title">Security Awareness Episode 4: Phishing and Ransomware
                                            </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <iframe width="100%" height="200vh" src="https://www.youtube.com/embed/FRxrHduwPjY?si=pPwezibMQGaJO0cd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
                                            <div class="card-body">
                                              <h5 class="card-title">Security Awareness Episode 5: Removable Media

                                            </h5>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <iframe width="100%" height="200vh" src="https://www.youtube.com/embed/Hc01oZPvByg?si=C3vDKvZD2wZq9hb6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
                                            <div class="card-body">
                                              <h5 class="card-title">Security Awareness Episode 6: Vishing
                                            </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <iframe width="100%" height="200vh" src="https://www.youtube.com/embed/7Apu1EWZPhQ?si=iKhszcd254vwOpoF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                            <div class="card-body">
                                              <h5 class="card-title">Security Awareness Episode 7: Internet Downloads
                                            </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <iframe width="100%" height="200vh" src="https://www.youtube.com/embed/RQttayB5ymA?si=Cf5fsloRNkZxAwXm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
                                            <div class="card-body">
                                              <h5 class="card-title">Security Awareness Episode 8: Wi-Fi
                                            </h5>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="text-center my-3">
                                    <a href="https://www.youtube.com/playlist?app=desktop&list=PLWR4tTRxCeu3P14c09JZWZfjLekIxmpWl" target="_blank">Explore More Videos</a>
                                </div>
                            </div>
                        </div>
                        <div class="Blogs">
                            <div class="heading  bg-dark text-white p-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="">
                                        <h5 class="card-title">
                                            Documents
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="content p-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card" style="width: 18rem;">
                                            <img src="{% static 'images/pdf.png' %}" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <a href="https://wcd.nic.in/sites/default/files/Cyber%20Security%20Awareness%20_0.pdf" target="_blank">
                                                    <h6>Cyber Security
                                                        Awareness</h6>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card" style="width: 18rem;">
                                            <img src="{% static 'images/pdf.png' %}" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <a href="https://www.ftc.gov/system/files/attachments/cybersecurity-small-business/cybersecurity_sb_discussion-guide_101218.pdf" target="_blank">
                                                    <h6>TALKING CYBERSECURITY WITH YOUR EMPLOYEES</h6>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="quizes">
                            <div class="heading  bg-dark text-white p-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="">
                                        <h5 class="card-title">
                                            Quizes
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="content p-4">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img src="{% static 'images/qq.jpeg' %}" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <a href="https://www.cybsafe.com/quizzes/cybercrime-usa/" target="_blank">
                                                    <h6>Quiz 1</h6>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img src="{% static 'images/qq.jpeg' %}" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <a href="https://www.w3schools.com/quiztest/quiztest.php?qtest=CYBERSECURITY" target="_blank">
                                                    <h6>Quiz 2</h6>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img src="{% static 'images/qq.jpeg' %}" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <a href="https://www.cyber.gov.au/learn-basics#quizcontainer" target="_blank">
                                                    <h6>Quiz 3</h6>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                        <div class="quizes">
                            <div class="heading  bg-dark text-white p-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="">
                                        <h5 class="card-title">
                                            Cyber Security Awareness Images
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="content p-4">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img src="{% static 'images/a1.jpg' %}" class="card-img-top img-fluid" alt="...">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img src="{% static 'images/a2.jpg' %}" class="card-img-top img-fluid" alt="...">
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img src="{% static 'images/a3.jpg' %}" class="card-img-top img-fluid" alt="...">
                                            
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="row">
                                    
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <img src="{% static 'images/a4.jpg' %}" class="card-img-top img-fluid" alt="...">
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <img src="{% static 'images/a5.jpg' %}" class="card-img-top img-fluid" alt="...">
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>

</script>

{% endblock content %}
